[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=Salix-Live Installation
Name[fr]=Installation de Salix-Live
Name[el]=Εγκατάσταση του Salix-Live

Categories=System
Exec=kdesu /usr/sbin/sli
Icon=sli
OnlyShowIn=KDE
